.page {
  --slide-duration: 0.6s;
  --slide-easing: ease-out;

  margin: 0;
  font-family: Arial, sans-serif;
  background: #232020;
}

.page__container {
  max-width: 980px;
  padding: 40px 0;
  margin: auto;
}

.slider {
  position: relative;
  background: #fff;
}

.slider__base {
  display: flex;
}

.slider__baseItem {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  padding: 30px 50px;
  background: #fff;
  transition-timing-function: var(--slide-easing);
  transition-duration: var(--slide-duration);
}

.slider__overlayContainer {
  width: 100%;
  height: 100%;
  transition-timing-function: var(--slide-easing);
  transition-duration: var(--slide-duration);
}

.slider__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  width: 50%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  transition-timing-function: var(--slide-easing);
  transition-duration: var(--slide-duration);
}

.slider__overlayItem {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.slider__overlayContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.slider__overlayIntro {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.slider__overlayText {
  margin: 20px 0 30px;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.slider__overlayItem_pos_left {
  left: 0;
}

.slider__overlayItem_pos_right {
  left: 100%;
}

.slider_active_right .slider__overlayContainer {
  transform: translateX(-100%);
}

.slider_active_right .slider__overlay {
  left: 50%;
}

.slider_active_right .slider__baseItem_pos_right {
  z-index: 1;
  visibility: hidden;
  transform: translateX(-100%)
}

.slider_active_right .slider__baseItem_pos_left {
  z-index: 2;
}

.slider_active_left .slider__baseItem_pos_right {
  z-index: 2;
}

.slider_active_left .slider__baseItem_pos_left {
  z-index: 1;
  visibility: hidden;
  transform: translateX(100%);
}

.slider_active_left .slider__overlayItem_pos_right {
  visibility: hidden;
  transition: visibility var(--slide-duration) var(--slide-duration);
  transition-timing-function: var(--slide-easing);
}

.slider_active_right .slider__overlayItem_pos_left {
  visibility: hidden;
  transition: visibility var(--slide-duration) var(--slide-duration);
  transition-timing-function: var(--slide-easing);
}

.slider__text {
  display: none;
  margin-top: 20px;
  text-align: center;
}

.slider__toggler {
  font-weight: bold;
  color: #ff4c2a;
}

.link {
  font-size: 14px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s
}

.link:hover {
  color: #333;
  text-decoration: none;
  opacity: 0.7;
}

.link:focus {
  color: #ff4c2a;
  text-decoration: none;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__title {
  margin: 20px 0;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.form__lable {
  display: block;
}

.form__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 5px;
  background-color: #eee;
  border: 2px solid transparent;
}

.form__info {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.form__button {
  margin: auto;
}

.form__inputCont {
  margin-bottom: 20px;
}

.form__lableText {
  margin-bottom: 5px;
  font-size: 16px;
  color: #544a4a;
}

.form__error {
  max-height: 0;
  font-size: 13px;
  line-height: 14px;
  color: #ff4b2b;
  word-break: break-all;
  opacity: 0;
  transition: max-height 0.5s, opacity 0.5s 0.5s;
}

.form__error_active {
  max-height: 100px;
  opacity: 1;
}

.form__input:focus {
  border-color: #a0a0a0;
  outline: none;
}

.form__input_error {
  border-color: #ff4c2a;
}

.button {
  width: max-content;
  padding: 12px 45px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #ff4b2b;
  border: 2px solid #ff4b2b;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.button:focus {
  border-color: #8a1b07;
  outline: none;
}

.button:hover {
  background: #ff426a;
}

.button_theme_light {
  background-color: transparent;
  border-color: #fff;
}

.button_theme_light:hover {
  background: #ffffff54;
}

.button_theme_light:focus {
  background: #ffffff54;
  border-color: #fff;
}

@media screen and (max-width: 768px) {
  .page {
    background: #fff;
  }

  .page__container {
    padding: 0;
  }

  .slider_active_right .slider__baseItem_pos_left,
  .slider_active_left .slider__baseItem_pos_right {
    width: 100%;
  }

  .slider_active_left .slider__baseItem_pos_left,
  .slider_active_right .slider__baseItem_pos_right {
    display: none;
  }

  .slider__overlay {
    display: none;
  }

  .slider__text {
    display: block;
    font-size: 18px;
  }

  .slider__toggler {
    font-size: 18px;
  }

  .form__lableText {
    font-size: 22px;
  }

  .form__input {
    margin-bottom: 6px;
    font-size: 22px;
  }

  .form__title {
    font-size: 35px;
  }

  .form__error {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .form__lable:last-child .form__error {
    margin-bottom: 15px;
  }

  .form__info {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }
}
